<form [formGroup]="operacionForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="ticker">Ticker</label>
        <input id="ticker" type="text" formControlName="ticker" >
    </div>
    <div>
        <label for="ticker">Tipo de Operación</label>
        <input id="tipoOper" type="text" formControlName="tipoOper" >
    </div>
    <div>
        <label for="ticker">Cantidad</label>
        <input id="cantidad" type="number" formControlName="cantidad" >
    </div>
    <div>
        <label for="ticker">Cotización</label>
        <input id="cotizacion" type="number" formControlName="cotizacion" >
    </div>
    <div>
        <label for="ticker">Comisión</label>
        <input id="comision" type="number" formControlName="comision" >
    </div>
    <div>
        <label for="ticker">Impuestos</label>
        <input id="impuestos" type="number" formControlName="impuestos" >
    </div>
    <div>
        <label for="ticker">Monto</label>
        <input id="monto" type="number" formControlName="monto" >
    </div>

    <button class="button" type="submit">Confirmar</button>

</form>
